* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: "Open Sans", sans-serif;
    font-family: "Poppins", sans-serif;
}



header {
    display: flex;
    width: 100%;
    height: 101px;
    padding: 0 15px;
    margin: 0 auto;
    background-color: #E43071;
    justify-content: space-between;
    align-items: center;
}

.header-name {
    display: flex;
    font-weight: 800;
    font-size: 40px;
    line-height: 43.8px;
    align-items: center;
    width: 187px;
    height: 44px;
    margin-left: 36px;
    color: #fff;
    text-decoration: none;
}

.header-buttons a{
    display: flex;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    color: #fff;
    width: 81px;
    height: 18px;
    margin-right: 90px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.header-buttons {
    display: flex;
    margin-left: 250px;
}

.header-buttons a:last-of-type {
    margin: 0px;
}

header img {
    width: 20px;
    height: 20px;
}

header button {
    font-size: 16px;
    font-weight: 400;
    line-height: 17.52px;
    text-align: center;
    margin-right: 40px;

    width: 166px;
    height: 50px;
    color: #E43071;
    border: none;
    border-radius: 200px;
}

header span {
    opacity: 0.5;
}

main {
    margin: 0 auto;
    width: 100%;
    justify-content: space-between;
    
}

.img-container {
    background-image: url(main-section-1-img/Female\ working\ out.png);
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    height: 900px;
    display:flex;
    align-items:center;
    justify-content:center;
}

.section-1-text {
    position: relative;
    font-size: 90px;
    font-weight: 700;
    line-height: 77px;
    text-align: center;
    color: #fff;
    width: 778px;
    height: 172px;
    margin: auto auto;
}

.img-container span{
    color: pink;
}

.img-container img {
    position: absolute;
    width: 100%;
    margin-top: 858px;
}

.section-1-button {
    position: absolute;
    margin-top: 350px;
    width: 237px;
    height: 68px;
    font-size: 16px;
    font-weight: 600;
    line-height: 37px;
    text-align: center;
    color: #fff;
    background-color: #E43071;
    border: none;
    border-radius: 200px;
}

.selection-buttons {
    position: absolute;
    display:flex;
    margin-top: 780px;
    column-gap: 20px;
    align-items: center;
}

.selection-round-1 {
    border: none;
    border-radius: 50%;
    width: 15px;
    height: 15px;
}

.selection-round-2 {
    border: none;
    border-radius: 50%;
    width: 15px;
    height: 15px;
}

.selection-round-3 {
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: #E43071;
}

.selection-round-4 {
    border: none;
    border-radius: 50%;
    width: 15px;
    height: 15px;
}

.selection-round-5 {
    border: none;
    border-radius: 50%;
    width: 15px;
    height: 15px;
}

.main-section-2 {
    background-color: #fff;
    height: 900px;
}

.section-2-container {
    position: absolute;
    display: flex;
    margin: 0 auto;
    background-color: #fff;
    width: 100%;
    height: 900px;
    align-items: center;
    justify-content: center;
}

.section2-img1 {
    position: absolute;
    margin-right: 1100px;
}

.section2-img2 {
    position: absolute;
    margin-right: 800px;
    margin-top: 238px;
}

.nav-sec2-text {
    position: absolute;
    margin-left: 700px;
}

.sec2-title {
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
    text-align: left;
    color: #E43071;
    width: 414px;
    height: 60px;
    margin-bottom: 10px;
}

.nav-sec2-text p {
    font-size: 16px;
    font-weight: 400;
    line-height: 37px;
    text-align: left;
    color: #424242;
}

.section-2-button {
    position: absolute;
    font-size: 16px;
    font-weight: 600;
    line-height: 37px;
    text-align: center;
    color: #E43071;
    width: 237px;
    height: 68px;
    border-radius: 200px;
    background-color: #fff;
    margin-top: 20px;
    border: 2px solid #E43071
}

.img-cont-sec-3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url(main-section-3-img/Woman\ doing\ situps.jpg);
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    display:flex;
    align-items: center;
    justify-content: center;
    height: 900px;
    color: #fff;
}

.img-cont-sec-3 h1 {
    position: absolute;
    text-align: center;
    font-size: 75px;
    font-weight: 700;
    line-height: 100px;
    width: 1300px;
    height: 90px;
    margin-bottom: 250px;
    white-space: nowrap;
}

.img-cont-sec-3 p {
    position: absolute;
    text-align: center;
    font-family: Open Sans;
    font-size: 22px;
    font-weight: 600;
    line-height: 23px;
    width: 533px;
    height: 106px;
}

.sec-3-main-button {
    position: absolute;
    margin-top: 150px;
    width: 237px;
    height: 68px;
    font-size: 16px;
    font-weight: 600;
    line-height: 37px;
    text-align: center;
    color: #fff;
    background-color: #E43071;
    border: none;
    border-radius: 200px;  
}

.section-1-button {
    position: absolute;
    margin-top: 350px;
    width: 237px;
    height: 68px;
    font-size: 16px;
    font-weight: 600;
    line-height: 37px;
    text-align: center;
    color: #fff;
    background-color: #E43071;
    border: none;
    border-radius: 200px;
}

.sec3-selection-buttons {
    position: absolute;
    display:flex;
    margin-top: 800px;
    column-gap: 20px;
    align-items: center;
}

.sec3-selection-round-1 {
    border: none;
    border-radius: 50%;
    width: 15px;
    height: 15px;
}

.sec3-selection-round-2 {
    border: none;
    border-radius: 50%;
    width: 15px;
    height: 15px;
}

.sec3-selection-round-3 {
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: #E43071;
}

.sec3-selection-round-4 {
    border: none;
    border-radius: 50%;
    width: 15px;
    height: 15px;
}

.sec3-selection-round-5 {
    border: none;
    border-radius: 50%;
    width: 15px;
    height: 15px;
}

.main-section-4 {
    margin: 0 auto;
    width: 100%;
    height: 800px;
    background-color: #ffffff;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.sec4-title {
    color: #E43071;
    width: 383px;
    height: 60px;
    font-family: Poppins;
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
    text-align: left;
}

.sec4-main-text {
    color:#424242;
    width: 489px;
    height: 163px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 37px;
    text-align: left;
    margin-right: 900px;
}

.sec4-button {
    position: absolute;
    font-size: 16px;
    font-weight: 600;
    line-height: 37px;
    text-align: center;
    color: #E43071;
    width: 237px;
    height: 68px;
    border-radius: 200px;
    background-color: #fff;
    margin-top: 10px;
    border: 2px solid #E43071
}

.sec4-weights {
    position: absolute;
    margin-left: 1000px;
    margin-top: 300px;
}

.sec4-gym-room {
    position: absolute;
    margin-left: 700px;
}

.sec5-container {
    position: relative;
    display: flex;
    margin: 0 auto;
    width: 100%;
    height: 1000px;
    background: linear-gradient(to bottom, #ffffff, #F4E3E9);
    align-items: center;
    justify-content: center;
}

.sec5-title-text{
    position: absolute;
    right: 60%;
    bottom: 65%;
}

.sec5-title {
    width: 414px;
    height: 114px;
    font-family: Poppins;
    font-size: 48px;
    font-weight: 600;
    line-height: 57.22px;
    text-align: left;
    color: #424242;
}

.sec5-text {
    width: 313px;
    height: 27px;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    color: #424242;
}

.reviews-block-1 {
    position: relative;
    width: 449px;
    height: 343px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 1px 4px 8px 0px #0000002E;
    left: 25%;
    bottom: 6%;
}

.title-review-1 {
    position: absolute;
    color: #E43071;
    font-family: Poppins;
    font-size: 38px;
    font-weight: 600;
    line-height: 45px;
    text-align: left;
    width: 179px;
    height: 45px;
    top: 45px;
    left: 34px;
}

.main-text-review-1 {
    position: absolute;
    color: #424242;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    width: 353px;
    height: 242px;
    top: 108px;
    left: 64px;
}

.staple-reviews-1 {
    position: absolute;
    line-height: 66px;
    top: 100px;
    left: 27px;
 }

.person-reviews-1 {
    position: absolute;
    top: 248px;
    left: 67px;
}

.name-reviews-1 {
    position: absolute;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    line-height: 34px;
    text-align: left;
    width: 122px;
    height: 34px;
    top: 250px;
    left: 143px;
}

.role-reviews-1 {
    position: absolute;
    color: #969BAB;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 34px;
    text-align: left;
    width: 160px;
    height: 34px;
    top: 273px;
    left: 143px;
}

.reviews-block-2 {
    position: relative;
    width: 349px;
    height: 445px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 1px 4px 8px 0px #0000002E;
    right: 20%;
    top: 13%;
}

.title-review-2 {
    position: absolute;
    color: #E43071;
    font-family: Poppins;
    font-size: 38px;
    font-weight: 600;
    line-height: 45px;
    text-align: left;
    width: 167px;
    height: 45px;
    top: 35px;
    left: 27px;
}

.main-text-review-2 {
    position: absolute;
    color: #424242;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    width: 253px;
    height: 242px;
    top: 109px;
    left: 64px;
}

.person-reviews-2 {
    position: absolute;
    left: 66px;
    top: 350px;
}

.staple-reviews-2 {
    position: absolute;
    left: 27px;
    top: 105px;
}

.name-reviews-2 {
    position: absolute;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    line-height: 34px;
    text-align: left;
    width: 113px;
    height: 34px;
    top: 352px;
    left: 142px;
}

.role-reviews-2 {
    position: absolute;
    color: #969BAB;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 34px;
    text-align: left;
    width: 160px;
    height: 34px;
    top: 375px;
    left: 142px;
}

.reviews-block-3 {
    position: relative;
    width: 351px;
    height: 278px;
    background-color: #ffffff;
    box-shadow: 1px 4px 8px 0px #0000002E;
    border-radius: 10px;
    top: 30%;
    right: 17.9%;
}

.title-review-3 {
    position: absolute;
    color: #E43071;
    font-family: Poppins;
    font-size: 38px;
    font-weight: 600;
    line-height: 45px;
    text-align: left;
    width: 192px;
    height: 45px;
    top: 31px;
    left: 35px;  
}

.main-text-review-3 {
    position: absolute;
    color: #424242;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    width: 256px;
    height: 69px;
    top: 108px;
    left: 64px;
}

.staple-reviews-3 {
    position: absolute;
    left: 27px;
    top: 100px;
}

.person-reviews-3 {
    position: absolute;
    left: 67px;
    top: 189px;
}

.name-reviews-3 {
    position: absolute;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    line-height: 34px;
    text-align: left;
    width: 138px;
    height: 34px;
    top: 191px;
    left: 143px;
}

.role-reviews-3 {
    position: absolute;
    color: #969BAB;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 34px;
    text-align: left;
    width: 160px;
    height: 34px;
    top: 214px;
    left: 143px;
}